html, h1, h2, h3, h4, p,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Verdana", sans-serif;
  color: #adadad;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/header/header-img.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header/header-img.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header/header-img.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header/header-img.jpg") no-repeat center;
  background-size: cover;
  max-width: 1600px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 71px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__inner {
  position: absolute;
  bottom: -3px;
}

.header__img {
  width: 100%;
  height: auto;
}

.wrapper .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 30px;
}

.wrapper .top-menu .logo {
  color: #fe504f;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 496px;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.wrapper .nav ul {
  list-style: none;
  color: #ffffff;
}

.wrapper .nav ul li {
  display: inline;
  color: #ffffff;
  margin: 10px;
}

.wrapper .nav ul li a {
  color: #ffffff;
  text-decoration: none;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  height: 3px;
}

.wrapper .nav ul li a:hover {
  border-bottom: 1px solid #fe504f;
  height: 3px;
}

.wrapper .top-menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 680px;
  width: 100%;
  height: 100%;
  margin-top: 174px;
}

.wrapper .top-menu-content h2 {
  color: #ffffff;
  font-size: 60px;
  line-height: 74px;
}

.wrapper .top-menu-content p {
  line-height: 28px;
  font-size: 20px;
  max-width: 514px;
  width: 100%;
  margin-top: 32px;
}

.wrapper .top-menu-content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 460px;
  width: 100%;
  margin-top: 46px;
}

.wrapper .top-menu-content .buttons .red-btn {
  background-color: #fe504f;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 52px;
}

.wrapper .top-menu-content .buttons .grey-btn {
  background-color: #343434;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 52px;
}

.wrapper .top-menu-content .buttons .red-btn a, .wrapper .top-menu-content .buttons .grey-btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .top-menu .logo {
    margin-left: 20px;
  }
  .top-menu-content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .top-menu-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-menu-content h2 {
    text-align: center;
  }
  .top-menu-content p {
    text-align: center;
  }
}

.footer {
  background-color: #343434;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 42px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer__inner .copyright {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 163px;
}

.socials a {
  color: #fe504f;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 79px;
}

.services .services-title {
  color: #343434;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.services .services-text {
  text-align: center;
  max-width: 911px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  line-height: 24px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 67px;
  max-width: 1200px;
  width: 100%;
}

.services__items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 231px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.services__items .item img {
  width: 55px;
  height: 55px;
}

.services__items .item .item-header {
  color: #343434;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  width: 191px;
  margin-top: 16px;
  text-align: center;
}

.services__items .item .item-header:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 0 auto;
}

.services__items .item .item-text {
  line-height: 24px;
  text-align: center;
  margin-top: 18px;
}

.block-contact-us {
  background: url("../img/bg-contact-us.jpg") no-repeat center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  padding: 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
}

.block-contact-us__title {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
  max-width: 1122px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.block-contact-us__red-btn {
  background-color: #fe504f;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 52px;
  margin-top: 42px;
}

.block-contact-us__red-btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.info-block {
  background: url("../img/bg-what-we-do.jpg") no-repeat center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 87px 0;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fe504f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 35px;
  border-radius: 100%;
  text-decoration: none;
  color: #ffffff;
}

.info-block__title {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
}

.info-block__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  max-width: 1006px;
  width: 100%;
  text-align: center;
}

.contacts {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/contact/bg-contact.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/contact/bg-contact.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/contact/bg-contact.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/contact/bg-contact.jpg") no-repeat center;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  padding: 100px 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts__logo {
  color: #fe504f;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
}

.contacts__title {
  color: #fe504f;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

.contacts-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-area .contacts-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 496px;
  width: 100%;
}

.contacts-area .contacts-left__text {
  margin-top: 37px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}

.contacts-area .contacts-left__text:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 30px 0;
}

.contacts-area .contacts-left__list {
  list-style: none;
}

.contacts-area .contacts-left__list li, .contacts-area .contacts-left__list a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 7px 0;
}

.contacts-area .contacts-left__list li a, .contacts-area .contacts-left__list a a {
  text-decoration: none;
}

.contacts-area .contacts-left__list li i, .contacts-area .contacts-left__list a i {
  color: #fe504f;
  border: 1px solid #fe504f;
  padding: 10px;
  margin-right: 15px;
}

.contacts-area .contacts-left__list .adress i {
  padding: 10px 12px;
  margin-right: 20px;
}

.contacts-area .contacts-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 445px;
  width: 100%;
  height: 100%;
}

.contacts-area .contacts-right__title {
  color: #fe504f;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

.contacts-area .contacts-right__title:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 15px 0;
}

.contacts-area .contacts-right__text {
  color: #ffffff;
  font-size: 14px;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 445px;
  width: 100%;
  height: 450px;
  margin-top: 30px;
}

#contact-form #fname, #contact-form #mail, #contact-form #theme, #contact-form textarea {
  border: 1px solid #aeaeae;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 18px;
  margin: 7px 0;
  font-size: 14px;
}

#message {
  resize: none;
  font-family: Verdana;
  font-size: 14px;
}

#button {
  border-radius: 50px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 45px;
  width: 130px;
  background-color: #fe504f;
  color: #ffffff;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 900px) {
  .contacts-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 80px;
}

.about-us .about-us-title {
  color: #343434;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.about-us .about-us-text {
  text-align: center;
  max-width: 911px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  line-height: 24px;
}

.about-us__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin-top: 76px;
}

.about-us__area .what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 576px;
  width: 100%;
  height: 100%;
}

.about-us__area .what-we-do__title {
  color: #fe504f;
  font-size: 20px;
  text-transform: uppercase;
}

.about-us__area .what-we-do__title:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 15px 0;
}

.about-us__area .what-we-do__text {
  color: #343434;
  line-height: 24px;
}

.about-us__area .our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 565px;
  width: 100%;
  height: 100%;
}

.about-us__area .our-clients__title {
  color: #fe504f;
  font-size: 20px;
  text-transform: uppercase;
}

.about-us__area .our-clients__title:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 15px 0;
}

.about-us .our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.about-us .our-team__title {
  color: #fe504f;
  font-size: 20px;
  text-transform: uppercase;
}

.about-us .our-team__title:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 15px 0;
}

.about-us .our-team__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.about-us .our-team__item {
  width: 200px;
  height: 200px;
}

.about-us .our-team__post {
  width: 200px;
  height: 200px;
  background-color: #fe504f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  color: white;
}

.about-us .our-team__post h3 {
  font-size: 32px;
}

.about-us .our-team__post h3:after {
  content: '';
  width: 160px;
  height: 1px;
  display: block;
  background-color: #bb3030;
  margin-top: 53px;
}

.about-us .our-team__post p {
  font-size: 12px;
  font-weight: 700;
  margin-top: 12px;
}

.about-us .our-team__post span {
  font-size: 12px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 80px;
}

.news__title {
  color: #343434;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.news__text {
  text-align: center;
  max-width: 1082px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  line-height: 24px;
  margin-bottom: 73px;
}

.news__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-side .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  height: 100%;
}

.left-side .post .post-text {
  background-color: #343434;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.left-side .post .post-text:after {
  content: url("../img/post/arrow.png");
  position: absolute;
  left: -20px;
}

.left-side .post .post-text a {
  text-decoration: none;
  color: #fe504f;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 240px;
}

.left-side .post .post-text a:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 15px 0;
}

.left-side .post .post-text .post-short-text {
  width: 203px;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
}

.left-side .post .post-text .post-date {
  color: #fe504f;
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
  margin-left: 70%;
}

.left-side .post-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  height: 100%;
}

.left-side .post-second .post-text-second {
  background-color: #343434;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.left-side .post-second .post-text-second:after {
  content: url("../img/post/arrow.png");
  position: absolute;
  right: -20px;
}

.left-side .post-second .post-text-second a {
  text-decoration: none;
  color: #fe504f;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 240px;
}

.left-side .post-second .post-text-second a:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 15px 0;
}

.left-side .post-second .post-text-second .post-second-short-text {
  width: 203px;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
}

.left-side .post-second .post-text-second .post-second-date {
  color: #fe504f;
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
  margin-left: 70%;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 100%;
}

.right-side .post-third-text {
  background-color: #343434;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.right-side .post-third-text:after {
  content: url("../img/post/arrow.png");
  position: absolute;
  top: -20px;
  right: 10%;
}

.right-side .post-third-text a {
  text-decoration: none;
  color: #fe504f;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 240px;
}

.right-side .post-third-text a:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 15px 0;
}

.right-side .post-third-text .post-third-short-text {
  width: 203px;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
}

.right-side .post-third-text .post-third-date {
  color: #fe504f;
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
  margin-left: 70%;
}

.single {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/single/bg-single.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/single/bg-single.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/single/bg-single.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/single/bg-single.jpg") no-repeat center;
  background-size: cover;
  max-width: 1600px;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 71px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single__inner {
  position: absolute;
  bottom: -3px;
}

.single__img {
  width: 100%;
  height: auto;
}

.wrapper .top-menu-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 30px;
}

.wrapper .top-menu-menu .logo {
  color: #fe504f;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 496px;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.wrapper .nav ul {
  list-style: none;
  color: #ffffff;
}

.wrapper .nav ul li {
  display: inline;
  color: #ffffff;
  margin: 10px;
}

.wrapper .nav ul li a {
  color: #ffffff;
  text-decoration: none;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  height: 3px;
}

.wrapper .nav ul li a:hover {
  border-bottom: 1px solid #fe504f;
  height: 3px;
}

.single-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -400px;
  z-index: 2;
}

.single-area__title {
  color: #ffffff;
  font-size: 60px;
}

.single-area__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-area__main .search {
  background-color: #343434;
  width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 86px;
}

.single-area__main .search #requests {
  border: 1px solid #fe504f;
  background: none;
  width: 241px;
}

.single-area__main .search .search-btn {
  background-color: #fe504f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 13px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.single-area__main .btn-load {
  max-width: 370px;
  width: 100%;
  height: 100%;
  background-color: #343434;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 23px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fe504f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 60px;
}

.post-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  top: -400px;
}

.post-view__img {
  width: 100%;
  height: auto;
  position: relative;
}

.post-view__title {
  background-color: #343434;
  max-width: 491px;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  color: #fe504f;
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 3px;
}

.post-view__title:before {
  content: url("../img/post/arrow.png");
  position: absolute;
  top: -20px;
  left: 10%;
}

.post-view__title:after {
  content: '';
  width: 61px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 15px 0;
}

.post-view__area {
  max-width: 1102px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 47px;
}

.post-view__text {
  color: #343434;
  line-height: 26px;
}

.post-view__subtitle {
  color: #343434;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 28px 0;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.comments__calc {
  color: #000000;
  font-size: 18px;
  margin-top: 87px;
}

.comments__calc:after {
  content: '';
  width: 125px;
  height: 3px;
  display: block;
  background-color: #fe504f;
  margin: 8px 0;
}

.comments__look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.comments__look img {
  width: 50px;
  height: 50px;
}

.comments__look .comment-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 979px;
  width: 100%;
  height: 100%;
}

.comments__look .comment-text__whois {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.comments__look .comment-text__whois .comment-text-btn {
  color: #000000;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.comments__look .comment-text__whois .comment-text-btn:hover {
  color: #fe504f;
}

.comments .comments-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  margin-left: 100px;
}

.comments .comments-answer img {
  width: 50px;
  height: 50px;
}

.comments .comments-answer .comments-answer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 889px;
  width: 100%;
  height: 100%;
}

.comments .comments-answer .comments-answer-text__whois {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.comments .comments-answer .comments-answer-text__whois .comments-answer-btn {
  color: #000000;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.comments .comments-answer .comments-answer-text__whois .comments-answer-btn:hover {
  color: #fe504f;
}

.comments .write-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.comments .write-comment #write {
  max-width: 927px;
  width: 100%;
  border: 2px solid #aeaeae;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 15px;
}

.comments .write-comment #confirm {
  width: 143px;
  background-color: #343434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 14px;
  border: none;
  color: #fd6041;
  font-size: 12px;
  text-transform: uppercase;
}
